
.container1 {
    background-color: rgb(235, 223, 246);
    position: relative;
    padding: 0%;
    width: 1000px;
    height: 650px;
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(129, 79, 209);
    margin-left: 20%;
    margin-top: 100px;


}

.container2 {

    background-color: rgb(247, 241, 234);
    position: absolute;
    width: 700px;
    height: 70%;
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(129, 79, 209);
    margin-bottom: -20%;
    margin-top: 5%;
    margin-left: 15%;

}

h2 {
    text-align: center;
    font-size: 30px;
}

.userid {
    font-size: 1.5rem;
    margin-left: 12%;
    margin-top: 10%;
    padding-top: 10%;
}

.email {
    font-size: 1.5rem;
    margin-left: 35%;
    margin-top: 10%;
    padding-top: 10%;
}

.password {
    font-size: 1.5rem;
    margin-left: 11%;
    margin-top: 10%;
    padding-top: 15%;
}

.phone {
    font-size: 1.5rem;
    margin-left: 20%;
    margin-top: 10%;
    padding-top: 10%;
}

.developer1 {
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 20px;
    background-color: rgb(243, 237, 247);
    color: rgb(93, 25, 171);
    height: 40px;
    width: 250px;
    border-radius: 15px;
    border-color: rgb(244, 13, 13);
    border-width: 3px;
}

.developer2 {
    margin-top: 10px;
    margin-left: 10%;
    background-color: rgb(244, 237, 247);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 250px;
    border-radius: 15px;
    border-color: rgb(244, 13, 13);
    border-width: 3px;
}

.developer3 {
    margin-top: 10px;
    margin-left: 10%;
    background-color: rgb(243, 237, 247);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 250px;
    border-radius: 15px;
    border-color: black;
}

.developer4 {
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 35px;
    background-color: rgb(243, 237, 247);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 250px;
    border-radius: 15px;
    border-color: black;
}

.name {
    display: inline-block;
    margin-left: 10.5%;
    margin-top: 2px;
    width: 210px;
    padding: 10px;
    padding-right: 35px;
    background-color: rgb(231, 222, 239);
    border-radius: 15px;
    font-size: 1.5rem;
}

.address {
    text-align: center;
    display: inline-block;
    margin-left: 10.5%;
    width: 233px;
    padding: 10px;
    background-color: rgb(231, 222, 239);
    border-radius: 15px;
    font-size: 1.5rem;
}

.button {
    margin-left: 40%;
    margin-top: 18px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: lightblue;
    color: aliceblue;
    font-weight: 300%;
    font-size: 20px;

}

.helloname {
    display: inline-block;
    margin-left: 600px;
    margin-top: 25px;
    margin-bottom: -20px;
    width: 210px;
    padding: 10px;
    padding-right: 35px;
    background-color: rgb(224, 206, 241);
    border-radius: 15px;
    font-size: 1.5rem;
    text-align: center;

}

input {
    font-size: 1.5rem;

}
